{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Pending Lawyer Requests</h2>

        <table border="1" cellpadding="10">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Experience</th>
                <th>Fee</th>
                <th>Action</th>
            </tr>

            {% for r in requests %}
            <tr>
                <td>{{ r.full_name }}</td>
                <td>{{ r.email }}</td>
                <td>{{ r.city }}</td>
                <td>{{ r.experience }}</td>
                <td>{{ r.fee }}</td>
                <td>
                    <a href="{% url 'approve_lawyer' r.id %}">Approve</a>
                </td>
            </tr>
            {% endfor %}
        </table>

</body>
</html> {% endcomment %}

{% include "base_admin.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Pending Lawyer Requests</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">

<div class="container mt-4">

    <h2 class="mb-4">Pending Lawyer Requests</h2>

    <table class="table table-bordered table-hover bg-white">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Experience</th>
                <th>Fee</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for r in requests %}
            <tr>
                <td>{{ r.full_name }}</td>
                <td>{{ r.email }}</td>
                <td>{{ r.city }}</td>
                <td>{{ r.experience }}</td>
                <td>{{ r.fee }}</td>
                <td>
                    <a href="{% url 'approve_lawyer' r.id %}"
                       class="btn btn-success btn-sm">
                       Approve
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

</body>
</html>
