{% extends 'lawyers/base_lawyer.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h2 class="mb-4">Change Password</h2>

<form method="POST" class="card-box" style="max-width: 600px;">
  {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Old Password</label>
    <input type="password" class="form-control" name="old_password">
  </div>

  <div class="mb-3">
    <label class="form-label">New Password</label>
    <input type="password" class="form-control" name="new_password">
  </div>

  <div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="confirm_password">
  </div>

  <button class="btn btn-primary-custom">Change Password</button>
</form>
{% endblock %}